//flex container

.flex(@flow, @justify, @align) {
  display: flex;
  flex-flow: @flow;
  justify-content: @justify;
  align-items: @align;
}

//button

.btn(@color, @bg) {
  color: @color;
  background: @bg;
  border-radius: 5px;
}