.nav {
  .flex(column nowrap, space-around, center);
  padding: 1% 0;
  background: @nav-bg;
  border-bottom: 1px solid @nav-border;

  @media @phone {
    padding: 2% 0;
  }

  .logo {
    margin-bottom: 1%;
    color: @nav-font;

    @media @phone {
      margin-bottom: 3%;
    }

    h1 {
      font-size: 4rem;
    }
  }

  .menu {
    .flex(row nowrap, space-between, center);
    width: 30%;

    @media @phone {
      width: 80%;
    }

    a {
      text-decoration: none;
      color: @nav-font;
      font-size: 1.6rem;
    }
  }
}